<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tck.av.music.audio.record">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application>
        <activity
            android:name=".AudioRecordAACHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AudioRecordPCMHomeActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>